# Dependencies
**/node_modules/

# Environment
**/.env
**/.env.local

# Secrets
secrets/

# Database
**/*.db
**/*.db-journal
**/*.log

# Expo
**/.expo/
**/dist/
**/web-build/

# macOS
**/.DS_Store

# IDE
.vscode/
.idea/
